<aside class="sidenav bg-gray-100 navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">
     <div class="loading-line"></div>
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" >
        <img src="/assets/img/Untitled design (11)-modified.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">ELITE POS</span>
      </a>
    </div>

    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/index">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Dashboard</span>
          </a>
        </li>
        <span class="nav-link-text ms-1 bold title"><h5>Master</h5></span>
        <li class="nav-item ">
          <a class="nav-link menu" >
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text " >Setting</span>
          </a>
          <!-- Sub-menu -->
          <div class="sub-menu submenu-container">
               <a class="nav-link " href="/company"><i class="fas fa-building"></i>Company</a>
              <a class="nav-link " href="/user"><i class="fas fa-users"></i>Users</a>
              <a class="nav-link " href="/menuaccesscontrol"><i class="fas fa-bars"></i>Menu Access Rights</a>
              <a class="nav-link " href="/accountconfiguration"><i class="fas fa-id-card-alt"></i>Account Config</a>
              {{!-- <a class="nav-link " href="/customerdisc"><i class="fab fa-intercom"></i>Customer Disc</a> --}}
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ">Inv.Master</span>
        </a>
        <!-- Sub-menu -->
        <div class="sub-menu submenu-container">
            <a class="nav-link " href="/product"><i class="fab fa-product-hunt"></i>Product</a>
            <a class="nav-link " href="/Producttype"><i class="fas fa-grip-horizontal"></i>Product Type</a>
            <a class="nav-link " href="/Productcategory"><i class="fas fa-newspaper"></i>Product Category</a>
            <a class="nav-link " href="/uom"><i class="fab fa-umbraco"></i>UOM</a>
            <a class="nav-link " href="/stockob"><i class="fas fa-layer-group"></i>Stock Opening</a>
            {{!-- <a class="nav-link " href="/state"><i class="fas fa-place-of-worship"></i>State</a> --}}
            <a class="nav-link " href="/city"><i class="fas fa-city"></i>City & state</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link menu" >
          <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ">Acc.Master</span>
      </a>
      <!-- Sub-menu -->
      <div class="sub-menu submenu-container">
          <a class="nav-link " href="/manufacturer"><i class="fab fa-medium-m"></i>Manufacturer</a>
          <a class="nav-link " href="/customer"><i class="fab fa-cuttlefish"></i>Customer</a>
          <a class="nav-link " href="/salesman"><i class="fab fa-speakap"></i>Salesman</a>
          <a class="nav-link " href="/supplier"><i class="fab fa-stripe-s"></i>Supplier</a>
          <a class="nav-link " href="/ledger"><i class="fas fa-luggage-cart"></i>Ledger</a>
          {{!-- <a class="nav-link " href="/subgroup"><i class="fab fa-gofore"></i>Sub Group</a> --}}
          <a class="nav-link " href="/ledgerob"><i class="fas fa-dolly-flatbed"></i>Ledger OB</a>
      </div>
  </li>
  <span class="nav-link-text ms-1 bold title"><h5>Transition</h5></span>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Purchase</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/Purchaseregister"><i class="fas fa-money-bill"></i>Purc.Register</a>
            <a class="nav-link " href="/Purchasedraftregister"><i class="fas fa-money-bill"></i>Purc.Draft Register</a>
            <a class="nav-link " href="/Purchasereturnregister"><i class="fas fa-money-bill"></i>Purc.Return Register</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu " >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Sales</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/salesretailregister"><i class="fab fa-scribd"></i>Sales Retailer</a>
            <a class="nav-link " href="/salesregister"><i class="fab fa-scribd"></i>Sales</a>
            <a class="nav-link " href="/salesReturnregister"><i class="fab fa-scribd"></i>Sales .Return</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Accounts</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/multireceipt"><i class="fab fa-medium-m"></i>Multi Recipt</a>
            <a class="nav-link " href="/multipayment"><i class="fab fa-medium-m"></i>Multi Payment</a>
            <a class="nav-link " href="/receipt"><i class="fas fa-file-invoice"></i>Recipt</a>
            <a class="nav-link " href="/Payment"><i class="fas fa-money-check-alt"></i>Payment</a>
            <a class="nav-link " href="/journal"><i class="fas fa-journal-whills"></i>Journal</a>
            <a class="nav-link " href="/creditnote"><i class="far fa-credit-card"></i>Credit Note</a>
            <a class="nav-link " href="/contra"><i class="fab fa-contao"></i>Contra</a>
        </div>
        </li>
        <span class="nav-link-text ms-1 bold title"><h5>Reports</h5></span>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Stock</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/currentstock"><i class="fas fa-clone"></i>Current Stock</a>
            <a class="nav-link " href="/stocksummary"><i class="fas fa-layer-group"></i>Stock Summary</a>
            <a class="nav-link " href="/batchsummary"><i class="fas fa-stream"></i>Batch Summary</a>
            <a class="nav-link " href="/stockanalysis"><i class="fas fa-chart-area"></i>Stock Analysis</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">MIS</span>
          </a>
          <div class="sub-menu submenu-container">
            {{!-- <a class="nav-link " href="productwisepurcsale"><i class="fab fa-product-hunt"></i>Product Wise Purc Vs Sale</a> --}}
            <a class="nav-link " href="/purchaseoutstanding"><i class="fab fa-product-hunt"></i>Purchase Outstanding</a>
            <a class="nav-link " href="/salesoutstanding"><i class="fab fa-speakap"></i>Sales Outstanding</a>
            <a class="nav-link " href="/billwise"><i class="fas fa-bold"></i>Bill wise Profit</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">Accounts-Reports</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/ledgerbook"><i class="fas fa-dolly-flatbed"></i>Ledger Book</a>
            <a class="nav-link " href="/bankbook"><i class="fas fa-university"></i>Bank Book</a>
            <a class="nav-link " href="/cashbook"><i class="fas fa-money-bill-alt"></i>Cash Book</a>
            <a class="nav-link " href="/daybook"><i class="fas fa-calendar-day"></i>Day Book</a>
            <a class="nav-link " href="/journalbook"><i class="fas fa-book"></i>Journal Book</a>
            <a class="nav-link " href="/creditbook"><i class="fas fa-credit-card"></i>Credit Book</a>
            <a class="nav-link " href="/trailbalance"><i class="fas fa-balance-scale"></i>Trail Balance</a>
            <a class="nav-link " href="profitandloss"><i class="fas fa-hand-holding-usd"></i>Profit & Loss</a>
            <a class="nav-link " href="/balancesheet"><i class="fas fa-balance-scale"></i>Balance Sheet</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 ">GST</span>
          </a>
          <div class="sub-menu submenu-container">
            <a class="nav-link " href="/gstpurchase"><i class="fab fa-gofore"></i>GSTR Purchase</a>
            <a class="nav-link " href="/gstsales"><i class="fab fa-gofore"></i>GSTR Sales</a>
            <a class="nav-link " href="/hsnpurchase"><i class="fas fa-h-square"></i>HSN Purchase</a>
            <a class="nav-link " href="/hsnsales"><i class="fas fa-h-square"></i>HSN Sales</a>
        </div>
        </li> 

    </ul>
    </div>
<script>
document.addEventListener('DOMContentLoaded', async function() {
  // Function to get the role from session, local storage, or URL
  function getRole() {
    let role = sessionStorage.getItem('userRole');
    if (role) {
      return role;
    }
    
    role = localStorage.getItem('userRole');
    if (role) {
      return role;
    }

    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get('role');
  }

  // Function to set the role in session and local storage
  function setRole(role) {
    sessionStorage.setItem('userRole', role);
    localStorage.setItem('userRole', role);
  }

  // Function to fetch and update user role
  async function fetchAndUpdateUserRole() {
    try {
      const userRole = await getUserRole();
      console.log('User Role:', userRole);
      document.getElementById('roles').innerText = userRole;

    } catch (error) {
      console.error('Error fetching user role:', error);
    }
  }

  // Function to fetch user role from the session
  async function getUserRole() {
    const response = await fetch(`/auth/sidebar?role=${getRole()}`);
    const data = await response.json();
    return data.role;
  }

  // Function to fetch sidebar items based on the user's role and display links
  async function fetchSidebarItems() {
    try {
      const response = await fetch(`/auth/sidebar?role=${getRole()}`);
      const data = await response.json();
      const sidebarItems = data.sidebarItems;

      const sidebarLinks = document.querySelectorAll('.sub-menu a');
      sidebarLinks.forEach(link => {
        const found = sidebarItems.some(item => item.href === link.getAttribute('href'));
        link.style.display = found ? 'block' : 'none';
      });

      const titles = document.querySelectorAll('.title');
      titles.forEach(title => {
        const titleText = title.innerText.trim();
        const foundTitle = sidebarItems.some(item => item.title === titleText);
        title.style.display = foundTitle ? 'flex' : 'none';
      });

      const menus = document.querySelectorAll('.menu');
      menus.forEach(menu => {
        const menuText = menu.innerText.trim();
        const foundMenu = sidebarItems.some(item => item.menu === menuText);
        menu.style.display = foundMenu ? 'flex' : 'none';
      });
    } catch (error) {
      console.error('Error fetching sidebar items:', error);
    }
  }

  // Call the function to fetch and update user role
  await fetchAndUpdateUserRole();

  // Call the function to fetch and display sidebar items
  await fetchSidebarItems();

});

$(document).ready(function() {
  fetchCompanyDetails(); 
  const logoutIcon = document.getElementById('logoutIcon');

  logoutIcon.addEventListener('click', function() {
    window.location.href = '/logout'; 
    localStorage.removeItem('userToken'); 
  });

  function fetchCompanyDetails() {
    $.ajax({
      url: '/auth/company/getcompany',
      method: 'GET',
      dataType: 'json',
      success: function(response) {
        console.log('Company details response:', response);
        if (response.data && response.data.length > 0) {
          $('#companyLogo').attr('src', response.data[0].logoSrc);
          $('#companyTitle').text(response.data[0].companyName); 
        } else {
          console.error('No company details found in the response.');
        }
      },
      error: function(xhr, status, error) {
        console.error('Error fetching company details:', error);
      }
    });
  }
});
</script>

  </aside>

