<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <style>
    @page {
        size: A4 portrait;
        margin: 0;
        padding: 2px;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f9f9f9;
        padding: 10px;
     
    }
    .invoice {
        width: 90%; /* Adjusted width */
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
        box-sizing: border-box; /* Added */
         font-weight: 100 !important;
    }
    .invoice h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #344767;
    }
.invoice-details {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 100;
}

.company-info {
    background-color: rgb(196, 193, 193);
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px; /* Add margin to create a gap */
}

.supplier-info {
    background-color: rgb(197, 179, 196);
    padding: 20px;
    border-radius: 10px;
}

.invoice-footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

    }
    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #344767;
        color: white; 
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    

    /* Styles for printing */
    @media print {
        body {
            padding: 0;
        }
          table, div {
        page-break-inside: avoid;
    }
      @page {
        margin: 5px;
    }
        .invoice {
            width: 100%;
            border: none;
            border-radius: 0;
            padding: 0;
            margin: 0;
            background-color: #ffffff;
        }
        .invoice h2 {
            margin-top: 20px;
        }
        .invoice-details {
            margin-bottom: 10px;
            font-weight: 100 !important;
            width: 100% !important;
        }
        table {
            width: 100%;
            border-radius: 10px !important;
        }
        th, td {
            padding: 5px;
            font-size: 10px;
        }
        .company-info, .supplier-info {
            width: 100%;
            float: none;
        }
        th {
            background-color: #344767 !important;
        }
           .invoice-header, .invoice-content, .invoice-footer {
        width: 100%;
    }

    .invoice-header, .invoice-footer {
        position: fixed;
    }

    .invoice-header {
        top: 0;
    }

    .invoice-content {
        margin-top: 80px; /* Adjust as needed */
    }

    .invoice-footer {
        bottom: 0;
    }
    }
   .supplier-info, .company-info {
        background-color: rgb(196, 193, 193);
        padding: 2px;
        border-radius: 10px;
        font-weight: 100 !important;
    }

    {{!-- #companyTitle {
        margin-bottom: 10px;
    }

    .company-detail {
        display: inline-block;
        margin-right: 10px;
    } --}}

    .company-detail strong {
        font-weight:lighter;
    }

    .company-detail span {
        color: #444;
    }

    /* Button Styles */
    .print-button {
        display: block;
        margin: 20px auto;
        text-align: center;
    }
    .print-button button {
        padding: 10px 20px;
        background-color: #344767;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .print-button button:hover {
        background-color: #2c3e50;
    }
/* CSS */
.invoice-footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.page-count {
    font-size: 12px;
}
.invoice-footer {
    display: none;
}

/* Hide the footer by default */
.invoice-footer {
    display: none;
}

/* Show the page count during printing */
@media print {
    .invoice-footer {
        display: block;
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0.5em 0.8em;
            margin-left: 2px;
            border-radius: 4px;
            cursor: pointer;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #344767;
            color: white;
        }

</style>

</head>
<script>
    // Function to print the invoice
    function printInvoice() {
        window.print();
    }
</script>

<body>
    <button class="btn btn-dark print-button" onclick="printData()">Print</button>
      <button class="btn btn-success print-button" onclick="back()">Back</button>
    <div class="invoice">
            <h2>Elite POS<img src="/assets/img/Untitled design (11)-modified.png"  style="height: 40px !important; margin: 2px !important;align-item:center !important;">
</h2>
        <h2 style="color: rgb(255, 255, 255);background-color:#344767;">Invoice</h2>
<div class="invoice-details" style="display: flex; justify-content: space-between;">
    <div class="company-info" style="background-color: rgb(196, 193, 193); padding: 20px; border-radius: 10px; flex-basis: 48%;">
        <h3 id="companyTitle" style="margin-bottom: 10px;"><strong>Company Name</strong></h3>
        <h6>GSTIN: <span id="gstin" class="company-detail"></span></h6>
        <h6>Address: <span id="address" class="company-detail"></span>, <span id="city" class="company-detail"></span>, <span id="state" class="company-detail"></span></h6>
        <h6>Mobile: <span id="mobileNo" class="company-detail"></span></h6>
    </div>

    <div class="supplier-info" id="purchaseDetails" style="background-color:#344767;color: rgb(196, 193, 193); padding: 20px; border-radius: 10px; flex-basis: 48%;">
        <h3 style="color:  rgb(196, 193, 193);">Supplier Details</h3>
        <div>
            <strong>Supplier Name: </strong><span id="suppliername"></span><br>
            <strong>Invoice Number: </strong><span id="supplierinvoiceno"></span><br>
            <strong>Invoice Date: </strong><span id="supplierinvoicedate"></span><br>
            <strong>Invoice Amount: </strong><span id="supplierinvoicenoamount"></span><br>
            <strong>GSTIN: </strong><span id="gstin_supplier"></span><br>
            <strong>Mobile: </strong><span id="mobileNo_supplier"></span><br>
        </div>
    </div>
</div>
  
  <table id="productDetailsTable" >
            <thead class="bg-dark">
                <tr>
                    <th>Product</th>
                    <th>Batch</th>
                    <th>Tax</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Discount Mode</th>
                    <th>Discount (%)</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be populated dynamically -->
            </tbody>
        </table>
<div class="invoice-summary" style="background-color: #f0f0f0; padding: 20px; border-radius: 10px; margin: 10px;">
    <h3 style="margin-bottom: 15px; text-align: center;">Invoice Summary</h3>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div style="font-size: 14px; flex-basis: 48%;">
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">Amount :</strong>
                <span id="invoiceAmount" style="text-align: right;"></span>
            </div>
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">Discount Mode :</strong>
                <span id="discountMode" style="text-align: right;"></span>
            </div>
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">Discount :</strong>
                <span id="discount" style="text-align: right;"></span>
            </div>
        </div>
        <div style="font-size: 14px; flex-basis: 48%;">
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">SGST :</strong>
                <span id="sgst" style="text-align: right;"></span>
            </div>
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">CGST :</strong>
                <span id="cgst" style="text-align: right;"></span>
            </div>
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 5px;">
                <strong style="margin-right: 10px; width: 120px;">IGST :</strong>
                <span id="igst" style="text-align: right;"></span>
            </div>
            <div style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                <strong style="margin-right: 10px; width: 120px;">Over All Total:</strong>
                <span id="subtotal" style="text-align: right;"></span>
            </div>
        </div>
    </div>
</div>


<div class="other-info">
    <h6 style="text-align: center;" ><span id="quotes"></span></h6>
</div>
{{!-- <footer class="invoice-footer">
    Page <span class="page-count"></span>
</footer> --}}

<script>
       // Listen for after print event to update the page count
    window.onafterprint = function() {
        updatePageCount();
    };

// Update the page count in the footer
function updatePageCount() {
    var pageNumberElement = document.querySelector('.page-count');
    if (!pageNumberElement) {
        console.error('Page number element not found.');
        return;
    }
    
    var totalPages = getTotalPages();
    var currentPage = getCurrentPageNumber();
    console.log('Total pages:', totalPages);
    console.log('Current page:', currentPage);
    pageNumberElement.textContent = currentPage + ' / ' + totalPages;
}

// Get the total number of invoice pages
function getTotalPages() {
    return document.querySelectorAll('.invoice').length;
}


    // Get the current page number
// Get the current page number
function getCurrentPageNumber() {
    var currentPage = 1;
    var pages = document.querySelectorAll('.invoice');
    for (var i = 0; i < pages.length; i++) {
        if (isInViewport(pages[i])) {
            currentPage = i + 1;
            break;
        }
    }
    return currentPage;
}


    // Check if an element is in the viewport
    function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    // Function to go back in browser history
    function back() {
        window.history.back();
    }

    // Function to print the invoice
    function printData() {
        // Hide print button before printing
        var printButtons = document.querySelectorAll('.print-button');
        printButtons.forEach(function(button) {
            button.style.display = 'none';
        });

        window.print();

        // Restore print buttons after printing
        printButtons.forEach(function(button) {
            button.style.display = '';
        });
    } 

    $(document).ready(function() {
        var table;
        // Initialize DataTable
        function initializeDataTable() {
            if ($.fn.DataTable.isDataTable('#productDetailsTable')) {
                table.destroy();
            }
            table = $("#productDetailsTable").DataTable({
                paging: false,
                ordering: false,
                info: false,
                searching: false,
            });
            table.on('draw', function() {
                $('#paginationContainer').html($('.dataTables_paginate'));
            });
        }
        // Load table data
        function loadTableData(purchaseId) {
            $.ajax({
                url: '/auth/purchaseprintpage/productdetails',
                method: 'GET',
                data: { purchaseId: purchaseId },
                success: function(response) {
                    if (response && response.data) {
                        if (!table) {
                            initializeDataTable();
                        }
                        table.clear();
                        response.data.forEach(function(row) {
                            table.row.add([
                                row.productname,
                                row.batchNo,
                                row.tax,
                                row.rate,
                                row.quantity,
                                row.discMode,
                                row.discount,
                                row.cgst,
                                row.sgst,
                                row.igst,
                                row.totalAmount
                            ]);
                        });
                        // Draw the table
                        table.draw();
                    } else {
                        console.error('No data received from the server.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error loading table data:', error);
                }
            });
        }
        // Fetch purchase details
        function fetchPurchaseDetails(purchaseId) {
            $.ajax({
                url: '/auth/purchaseprintpage/purchasedetails',
                method: 'GET',
                data: { purchaseId: purchaseId },
                success: function(response) {
                    if (response && response.data && response.data.length > 0) {
                        var responseData = response.data[0];
                        $('#suppliername').text(responseData.suppliername);
                        $('#supplierinvoiceno').text(responseData.id);
                        $('#supplierinvoicedate').text(formatDate(responseData.supplierinvoicedate));
                        $('#supplierinvoicenoamount').text(responseData.supplierinvoiceamount);
                        $('#gstin_supplier').text(responseData.gstin);
                        $('#mobileNo_supplier').text(responseData.mobile);

                        $('#invoiceAmount').text(responseData.amount);
                        $('#discountMode').text(responseData.discMode);
                        $('#discount').text(responseData.discount);
                        $('#cgst').text(responseData.cgst);
                        $('#igst').text(responseData.igst);
                        $('#sgst').text(responseData.sgst);
                        $('#subtotal').text(responseData.subtotal);
                    } else {
                        console.error('No data received from the server.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data from the server:', error);
                }
            });
        }
        // Format date function
        function formatDate(dateObject) {
            const date = new Date(dateObject);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${day}-${month}-${year}`;
        }
        // Call functions to load data and initialize DataTable
        const urlParams = new URLSearchParams(window.location.search);
        const purchaseId = urlParams.get('id');
        if (purchaseId) {
            loadTableData(purchaseId);
            fetchPurchaseDetails(purchaseId);
      
        } else {
            console.error('Purchase ID not found in URL');
        }
    });
</script>

</body>
</html>


